h1{
    text-align: center;
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: rgb(118, 212, 229);
}
#skill{
    background-color:  rgb(118, 212, 229);
}
#skillset{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#par1{
    text-align: center;
}
#skillset2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 350px;
}
#D1{
    width: 150px;
    height: 150px;
    margin-left: 400px;
    margin-top: 50px;
    display: inline;
    border: 2px solid burlywood;
    box-sizing: border-box;
}
#T1{
    margin-left: 445px;
}
#D2{
    width: 220px;
    height: 180px;
    margin-left: 802px;
    margin-top: -360px;
    display: inline;
    border: 2px solid burlywood;
    box-sizing: border-box;
    margin-bottom: 950px;
}
#T2{
    margin-left: 830px;
    margin-top: -935px;
}
#D3{
    width: 150px;
    height: 150px;
    margin-left: 1300px;
    margin-top: -330px;
    display: inline;
    border: 2px solid burlywood;
    box-sizing: border-box;
    margin-bottom: 900px;
}
#T3{
    margin-left: 1340px;
    margin-top: -885px;
}
